html,body{
    height: 100%;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.35rem;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-1{
    height: 28rem;
    width: 42rem;
    background-color: #837177;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container-2{
    height: 24rem;
    width: 32rem;
    background-color: #3c2f34;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0px;
}

label{
    padding-inline: 1rem;
    padding-block: 0.2rem;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=password]{
    width: 10rem;
    height: 1.2rem;
}

button{
    height: 1.8rem;
    width: 22rem;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    border-radius: 0.4rem;
}